header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center; 
}

nav{
    
    padding: 10px;
    text-align: center; 
    display: flex;
}

.anchor-target{
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
    
}

h2{
    padding-top: 60px;
    margin-top: -60px;
}